{% load static %}
<link rel="stylesheet" href="{% static 'user_login.css' %}">

<h3>Book Tickets</h3>


{% load crispy_forms_tags %}
<form autocomplete="off" method="post" action="book_ticket" >
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <input type="submit" name="book_ticket">

</form>
