<h3>HOME</h3>

<div>
    <a href="{% url 'register' %}">Register_New-Travels</a>
    <hr>
    <a href="{% url 'user_register' %}">Register_New_User</a>
    <hr>
    <a href="{% url 'user_login' %}">User_Login</a>
</div>