{% load static %}
<link rel="stylesheet" href="{% static 'user_login.css' %}">
<body>
<h3 id="b">  USER REGISTER</h3>
{% load crispy_forms_tags %} 
<form autocomplete="off" method="post" action="user_register" >
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <input type="submit" name="user_register">

</form>
