{% load static %}
<link rel="stylesheet" href="{% static 'user_login.css' %}">

<h3>REGISTER</h3>


{% load crispy_forms_tags %}
<form method="post" action="register">
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <input type="submit" name="register">

</form>