<head>
    <base href="http://127.0.0.1:8000/" />
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'user_login.css' %}">
<h3>Registration Successful </h3>
<a href="">back to login page</a>