{% load static %}
<link rel="stylesheet" href="{% static 'user_login.css' %}">
<body>
    
    <h3>User_Login</h3>
    {% load crispy_forms_tags %} 
    <form method="post" action="user_login">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input type="submit" name="user_login">

    </form>
    <a href="{% url 'user_register' %}">Create Account</a>
    <a id="a" href="{% url 'register' %}">Register_New-Travels</a>


</body>