body{
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    margin: 5%;
    padding: 5%;
    background-color:honeydew;
    scroll-behavior: auto;
}
h3{ 
    color:black;
    text-align: right;
    padding-right: 12%;
    padding-top: 0%;
    border-color: black;
    font-weight: 600;
    font-size: 180%;
    padding-bottom: 1%;
}
h3#b{ 
    color:black;
    text-align: right;
    padding-right: 10%;
    padding-top: 0%;
    border-color: black;
    font-weight: 600;
    font-size: 180%;
    padding-bottom: 1%;
}

form{
    font-weight:400;
    color:blue;
    text-align:right;
    color:black;
    font-size: 130%;
    padding-bottom: 1%;
    
}
a{
    font-weight: 1200;
    color:blue;
    text-align:right;
    color:black;
    font-size: 120%;
    position: absolute;
    top: 400px;
    right: 350px;
    
    
}
a#a{
    font-weight:1200;
    color:blue;
    text-align:right;
    color:black;
    font-size: 120%;
    position: absolute;
    top: 450px;
    right: 320px;
}

input , select {
    width: 30%;
    height: 5%;
    color: black;
    font-weight:600;
    margin-bottom: 10px;

  }